{% extends 'quiz/base.html' %}

{% block title %}
    النتائج
{% endblock %}

{% block content %}
  <div class="container">
      <br>
      <nav>
        <div dir="rtl" class="nav nav-tabs" id="nav-tab" role="tablist">
          <button 
            class="nav-link active" id="nav-results-tab" 
            data-bs-toggle="tab" data-bs-target="#nav-results" 
            type="button" role="tab"
            aria-controls="nav-results" aria-selected="true"
          >
              النتائج
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab" tabindex="0">
          <br>

          <!-- the table that displays the general states and results of Quiz -->
          <table dir="rtl" id="example" class="table">
            <thead>
              <tr>
                <th scope="col">الإسم</th>
                <th scope="col">اللقب</th>
                <th scope="col">الإجابات الصحيحة</th>
                <th scope="col">الإجابات الخاطئة</th>
                <th scope="col">مدة التقييم</th>
                <th scope="col">تفصيل</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for user_answer in users_answers %}
                  <td>{{ user_answer.user_first_name }}</td>
                  <td>{{ user_answer.user_last_name }}</td>
                  <td>{{ user_answer.total_correct_answers }}</td>
                  <td>{{ user_answer.total_incorrect_answers }}</td>
                  <td>{{ user_answer.total_time }}</td>
                  <td style="text-align: center;">
                    <!-- Add a button, on click, it will open a modal that will show the detailed results for a single user -->
                    <button 
                      class="details-button btn btn-secondary"
                      value="{{ user_answer.user_id }}"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                        <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
                        <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
                      </svg>
                    </button>
                    <!-- Add a button, on click, it will open a modal that will confirm the deletion of the user's Answers. -->
                    <button 
                      class="delete-button btn btn-danger"
                      value="{{ user_answer.user_id }}"
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                  </button>
                  </td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <!-- Modal to display the detailed results of a single user. -->
  <div class="modal fade" id="user-result-detail-modal" tabindex="-1" aria-labelledby="user-result-detail-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div dir="rtl" class="modal-header">
          <h5 class="modal-title" id="user-result-detail-modal-label">
            نتائج تقييم الفهم الكتابي عند الحبسي الراشد من خلال البرنامج المعلوماتي التقييمي SAWCA
          </h5>
        </div>
        <div dir="rtl" class="modal-body">
          <div class="row row-cols-2">
            <div class="col">الإسم: <span id="firstName"></span></div>
            <div class="col">اللقب: <span id="lastName"></span></div>
            <div class="col">الجنس: <span id="sex"></span></div>
            <div class="col">تاريخ الميلاد: <span id="birthDate"></span></div>
            <div class="col">المستوى الدراسي:<span id="academicDegree"></span></div>
            <div class="col">نوع الحبسة: <span id="aphasiaType"></span></div>
            <div class="col">تاريخ الإصابة: <span id="injuryDate"></span></div>
            <div class="col">تاريخ إجراء الإختبار: <span id="assessmentDate"></span></div>
            <div class="col">العنوان: <span id="address"></span></div>
            <div class="col">رقم الهاتف: <span id="phoneNumber"></span></div>
          </div>

          <!-- table to display all Quesion's answers -->
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">السؤال</th>
                <th scope="col">الإجابة المطلوبة</th>
                <th scope="col">إجابة المفحوص</th>
                <th scope="col">الوقت المستغرق</th>
              </tr>
            </thead>
            <tbody id="resultTableBody">
            </tbody>
          </table>
        
        </div>
        <div dir="rtl" class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق النافذة</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal to confirm the deletion of a user's answers -->
  <div dir="rtl" class="modal fade" id="delete-user-answers-modal" tabindex="-1" aria-labelledby="delete-user-answers-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete-user-answers-modal-label">
            تأكيد حذف الإجابات
          </h5>
        </div>
        <div class="modal-body">
          <p>
            هل أنت متأكد من حذف كل الإجابات لهذا المستخدم؟
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق النافذة</button>
          <button type="button" class="btn btn-danger" id="delete-user-answers-btn">حذف</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    // JavaScript goes here...
    $(document).ready(function () {
      $('#example').DataTable();

      // When the user clicks on the button, log the value of the button
      $('.details-button').on('click', function () {
        var user_id = $(this).val();
        console.log('user_id: ', user_id);

        data = new FormData();
        data.append('user_id', user_id);

        // Get the user's detailed results
        fetch('{% url "user_detailed_results" %}', {
          method: 'POST',
          body: data
        }).then((response) => {
          return response.json();
        }).then((data) => {
          console.log('data: ', data);
          /**
           * Update the modal with the user's details
           */
          $('#firstName').text(data.user.first_name);
          $('#lastName').text(data.user.last_name);
          $('#sex').text(data.user.sex);
          $('#birthDate').text(data.user.birth_date);
          $('#acamdemicDegree').text(data.user.academic_degree)
          $('#aphasiaType').text(data.user.aphasia_type)
          $('#injuryDate').text(data.user.injury_date)
          $('#address').text(data.user.address)
          $('#phoneNumber').text(data.user.phone_number)
          // get the table body with id='resultTableBody'
          var tableBody = document.getElementById('resultTableBody');
          // get the number of questions
          var answersLength = data.answers.length;
          for (var i = 0; i < answersLength; i++) {
            // create a new row
            var row = tableBody.insertRow(i);
            // create a new cell
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            // add the question to the cell
            cell1.innerHTML = data.answers[i].qn_id;
            // add the user's answer to the cell
            cell2.innerHTML = data.answers[i].qn_label;
            // add the correct answer to the cell
            cell3.innerHTML = data.answers[i].correct_answer;
            // add the incorrect answer to the cell
            cell4.innerHTML = data.answers[i].user_answer;
            // add the time to the cell
            cell5.innerHTML = data.answers[i].answer_time;
          }
        }).catch((error) => {
          console.log('error: ', error);
        });

        // Open the modal
        $('#user-result-detail-modal').modal('show');
      });
      
      // When the user clicks on the delete results button, show the confirmation modal
      $('.delete-button').on('click', function () {
        $('#delete-user-answers-modal').modal('toggle');

        // set the user_id to the value of the button
        $('#delete-user-answers-btn').val($(this).val());
      });

      // When the user clicks on the delete user answers button, delete the user's answers.
      $('#delete-user-answers-btn').on('click', function () {
        let user_id = $(this).val();

        data = new FormData();
        data.append('user_id', user_id);

        // Delete the user's answers
        fetch('{% url "delete_user_answers" %}', {
          method: 'POST',
          body: data
        }).then((response) => {
          return response.json();
        }).then((data) => {
          console.log('data: ', data);

          // check if the user's answers were deleted successfully
          if (data.status == 'success') {
            // hide the modal
            $('#delete-user-answers-modal').modal('hide');
            // reload the page
            location.reload();
          } else {
            // show an error message
            alert('حدث خطأ أثناء حذف الإجابات');
          }
          // Reload the page
          location.reload();
        }).catch((error) => {
          console.log('error: ', error);
        });
      });

    });
  </script>
{% endblock %}